<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<div class="container">
	<app-toolbar></app-toolbar>
	<app-modal></app-modal>
	<table class="table-latitude" id="dataTable" style="display: none;">
		<caption>Physical Activity Data</caption>
		<thead>
			<tr id="tableHeaders" (click)="sortTable($event.target)">
			</tr>
		</thead>
	   <tfoot>
		   <tr>
			   <td colspan=3>Single click on columns to sort, double click to graph</td>
		   </tr>
	   </tfoot>
	   <tbody style="text-align: center;">
		</tbody>
   </table>
	<div>
		<canvas id="myChart"></canvas>
	</div>
</div>

<router-outlet></router-outlet>
